html,
body {
  display: inline;
  background-color: #0F111A;
  padding: 0;
  margin: 0;
  font-family: -apple-system, Poppins, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /* background-color: #0F111A; */
}

p {
  font-size: 18px;
  color: #EEEEEE;
}
/* 
ul {
  color: #EEEEEE;
  font-size: 24px;
} */

a:hover {
  color: #ffcb6b;
}
a:active {
  color: #c3e88d;
}