.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: #0F111A;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.typeit {
  display: flex;
  width: 80%;
  text-align: center;
}

.onetab {
  padding-left: 2rem;
}

.twotab {
  padding-left: 4rem;
}

.row {
  display: flex;
  flex-direction: row;
  /* border: 1px solid white; */
}

.rowSkills {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.colProjects {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 15px;
}

.flexone {
  display: flex;
  flex: 1;
}

.termprojects {
  display: flex;
  flex: 1;
  padding: 10px;
  height: fit-content;
}

.onme_iframe {
  border: 10px solid #EEEEEE;
  border-radius: 20px;
}

.profilepic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar {
  /* display: flex; */
  /* height: 50%; */
}

.homeskills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  color: #EEEEEE;
  font-size: 14px;
}

.iconcont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #EEEEEE;
  font-size: 4.5rem;
  border: 1px solid #EEEEEE;
  border-radius: 10px;
  width: 9rem;
  height: 9rem;
  margin: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
