.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: #0F111A;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.onetab {
  padding: 0 2rem;
}

.twotab {
  padding: 0 4rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.rowSkills {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.flexone {
  display: flex;
  flex: 1;
}

.onme_iframe {
  border: 10px solid #EEEEEE;
  border-radius: 20px;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
