.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #0f111a;
  padding: 0 4rem;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.typeit {
  display: flex;
  align-items: flex-start;
}

.row {
  display: flex;
  flex-direction: row;
}

.rowProjects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.rowTools {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.colAboutMe {
  display: flex;
  flex: 2;
  flex-direction: column;
}

.IframeCont {
  display: flex;
  flex: 1;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.IframeCont iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

.colProjects {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 15px;
}

.flexone {
  display: flex;
  flex: 1;
}

.termprojects {
  padding: 10px;
  height: fit-content;
}

.homeskills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #eeeeee;
  font-size: 14px;
}

.iconcont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eeeeee;
  font-size: 3rem;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  width: 9rem;
  height: 9rem;
  margin: 0.2rem;
}

.list {
  color: #eeeeee;
}

.list li {
  padding-right: 10px;
}

.padding {
  padding: 0 2rem;
}

.profilepic {
  padding: 0 20px;
}

@media (max-width: 768px) {
  .row {
    display: flex;
    flex-direction: column;
  }
}
